{% extends "./base.html" %} {% block content%}
<main>
  <div class="main-img-wrapper home-img-wrapper">
    <h3>梅賽德斯·奔馳 祝您</h3>
    <h1>新春快樂!</h1>
    <!-- use background to set the image -->
  </div>
  <h2>歡迎光臨梅賽德斯·奔馳 列治文店</h2>
  <div id="content">
    <!-- todo: if you want to submit using form -->
    <form action="@todo: Raphael, fill this">
      <div class="input-wrapper blue">
        <input placeholder="請于此處填寫手機號碼以參與抽獎" />
      </div>
      <div>
        <button type="submit" class="btn home-btn">進入抽獎</button>
      </div>
      <div>
        <!-- todo:oscar add terms&condition link, if we have it -->
        <a
          href="https://www.mercedes-benz.ca/content/canada/mpc/mpc_canada_website/en/home_mpc/privacy_statement.ngrb.html"
          class="terms-btn"
          >活動條款</a
        >
      </div>
    </form>
  </div>
</main>

{%block scripts%}
<script>
  console.log("st");
</script>
{% endblock %} {% endblock%}
