{% extends "./base.html" %} 
{% load static %}
{% block content%}
<main>
  <div class="main-img-wrapper home-img-wrapper">
    <h3>梅賽德斯·奔馳 祝您</h3>
    <h1>新春快樂!</h1>
    <!-- use background to set the image -->
  </div>
  <h2>歡迎光臨梅賽德斯·奔馳 列治文店</h2>
  <div id="content">
    <!-- todo: if you want to submit using form -->
    <form method="post" action="">
      <div class="input-wrapper blue">
        {% comment %} <input type=number placeholder="請于此處填寫手機號碼以參與抽獎" name='phoneNumber' id='phoneNumber'> {% endcomment %}
         {%csrf_token%}
          {{form.as_p}}
        <input type="submit" class="btn home-btn" value='進入抽獎' id='submit-btn' readonly/>
      </div>

      <div>
      </div>
      <div>
        <!-- todo:oscar add terms&condition link, if we have it -->
        <a
          href="https://www.mercedes-benz.ca/content/canada/mpc/mpc_canada_website/en/home_mpc/privacy_statement.ngrb.html"
          class="terms-btn"
          >活動條款</a
        >
      </div>
    </form>
  </div>
</main>
{% endblock %} 

{%block scripts%}


<script src="{%static 'script/index.js' %}" defer></script>
{% endblock%}

