{% extends "./base.html" %}
{% load staticfiles%}
{% block content%}
    		<main>
			<h3>梅賽德斯·奔馳 祝您</h3>
			<h1>新春快樂!</h1>
			<br>
			<h3 class="blue">很抱歉，每個手機號碼僅能進行一次抽獎。但這并不會影響您在新的一年滾滾而來的好運與財源，記得向店內索取一份紅包討個好彩頭吧！新年快樂！</h3>

			<!-- todo: chagne the style="background-image: url(...)" to the prize image -->
			<!-- we will get the prize by next week -->
			<div class="main-img-wrapper" style="background-image: url(img/c1.jpg)">
				<!-- use background to set the image -->
			</div>

			<script>
				//simple slider
				var i = 2;
				window.setInterval(function(){
				  $('.main-img-wrapper').attr('style', 'background-image: url(img/c'+i+'.jpg)');
				  i+=1;
				  if (i>5){
				  	i=1;
				  }
				}, 3000);
			</script>
			
			
			<div id="content">
				<div>
					<a href="https://www.mercedes-benz-richmond.ca/" class="terms-btn">點擊查看奔馳新春特惠</a>
				</div>	
				
			</div>			
		</main>
        {%block scripts%}
        <script src="{%static '/script/test.js'%}"></script>
        {% endblock %}
{%endblock%}