<!DOCTYPE html>
<html>
	<head>
	<title>梅賽德斯·奔馳-2018 Chinese New Year</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1, user-scalable=no, maximum-scale=1, height=device-height">
		<link rel="shortcut icon" type="image/png" href="img/favicon.png" />
		<link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
		
		<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	</head>
	<body>
		<header>
			<img src="img/logo.png" alt="Mercedes-Benz">
		</header>
		<main>
			
			<!-- todo: chagne the style="background-image: url(...)" to the prize image -->
			<!-- we will get the prize by next week -->
			<div class="main-img-wrapper" style="background-image: url(img/prize.jpg); width: 100%;">
				<!-- use background to set the image -->
			</div>
			<!-- todo: chagne the prize name "奔馳開瓶器/酒塞" dynamic -->
			<h2 class="red">恭喜中獎！您贏得了 <br>"奔馳開瓶器/酒塞" 一份</h2>
			<p class="left">请將該頁面截圖並向 Aberdeen Centre Mercedes me 店內員工出示以獲取該獎品<br>展示圖片可能與實物不符，請以實物為準</p>
			<div id="content">
				<div class="input-wrapper red">
					<!-- todo: Raphael: change this number dynamic -->
					<p class="input">您輸入的手機號碼為: 6041231234</p>
				</div>
			</div>			
		</main>
		<footer>
			<p>Mercedes-Benz Vancouver Retail Group</p>
			<!-- <p><a href="http://thinko.ca/">Powered by Thinko Technology LTD.</a></p> -->
		</footer>
		<script>
			//scroll page to bottom
			$(document).ready(function() {
			  $("html, body").animate({ scrollTop: $(document).height() }, 1000);
			});
		</script>
	</body>
</html>
