{% extends "./base.html" %}
{% load static %}
<!DOCTYPE html>


{% block content%}
		<main>
			
			<!-- todo: chagne the style="background-image: url(...)" to the prize image -->
			<!-- we will get the prize by next week -->
			<div class="main-img-wrapper" style="background-image: url({% static 'img/prizeWheelApp/prize.jpg' %}); width: 100%;">
				<!-- use background to set the image -->
			</div>
			<!-- todo: chagne the prize name "奔馳開瓶器/酒塞" dynamic -->
			<h2 class="red">恭喜中獎！您贏得了 <br>{{prize}}</h2>
			{% comment %} <h2 class="red">恭喜中獎！您贏得了 <br>"奔馳開瓶器/酒塞" 一份</h2> {% endcomment %}
			<p class="left">请將該頁面截圖並向 Aberdeen Centre Mercedes me 店內員工出示以獲取該獎品<br>展示圖片可能與實物不符，請以實物為準</p>
			<div id="content">
				<div class="input-wrapper red">
					<!-- todo: Raphael: change this number dynamic -->
					<p class="input">您輸入的手機號碼為: {{phoneNumber}}</p>
				</div>
			</div>			
		</main>
{% endblock %}

{%block scripts%}
        
		<script>
			let prizeID = {{prize.id}}
			console.log(prizeID)
			//scroll page to bottom
			$(document).ready(function() {
			  $("html, body").animate({ scrollTop: $(document).height() }, 1000);
			  $('.main-img-wrapper').attr('style', 'background-image: url('+'{%static "img/prizeWheelApp/" %}'+prizeID+'.png); max-width:23%;');
			});
		</script>
{% endblock %}
